{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}BeautyGlory{% endblock %}

{% block content %}
    <h3>Explore Your Style: Shop the Latest Trends on Our  Platform!</h3>
    <p>Discover Your Dream Products at Our E-commerce Emporium!</p>
    <h3> BeautyGlory offers a diverse range of products, from skin care to  Health products, providing shoppers </br> 
         with convenient online browsing, secure transactions, and doorstep  delivery for a seamless and enjoyable shopping experience.
    </h3>
{% endblock %}